config.stopBubbling = true
lombok.log.fieldName = log
# Keystone-wide @CustomLog declaration: generates
#   private static final org.apache.logging.log4j.Logger log = Logger.getLogger(MyClass.class);
# The Keystone Logger names loggers "<Module>.<SimpleName>" so Spigot's console prints [Module.Class].
lombok.log.custom.declaration = org.apache.logging.log4j.Logger org.luckyraven.keystone.logging.Logger.getLogger(TYPE)
